<div class="main-container">

    <form class="mat-elevation-z8 form-container" (ngSubmit)="save()" [formGroup]="registaReactive">

        <h2>Inserisci nuovo elemento</h2>

        <div class="row-form-container">
            <mat-form-field appearance="fill" style="flex: 5%;">
                <mat-label>Titolo</mat-label>
                <mat-select
                    name="titolo"
                    formControlName="titolo">
                <mat-option value="Sig.">Sig.</mat-option>
                <mat-option value="Sig.ra">Sig.ra</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 45%;">
                <mat-label>Nome</mat-label>
                <input 
                    matInput 
                    name="nome"
                    type="text" 
                    formControlName="nome"
                    placeholder="Inserire il nome">
                    <mat-error *ngIf="registaReactive.get('nome')?.hasError('required')">Nome obbligatorio</mat-error>
                    <mat-error *ngIf="registaReactive.get('nome')?.hasError('minlength')">Il nome deve avere almeno 4 caratteri</mat-error>
              </mat-form-field>
        
              <mat-form-field appearance="fill" style="flex: 45%;">
                <mat-label>Cognome</mat-label>
                <input 
                    matInput 
                    formControlName="cognome"
                    type="text" 
                    placeholder="Inserire il cognome">
                    <mat-error *ngIf="registaReactive.get('cognome')?.hasError('required')">Cognome obbligatorio</mat-error>
                    <mat-error *ngIf="registaReactive.get('cognome')?.hasError('minlength')">Il cognome deve avere almeno 4 caratteri</mat-error>
              </mat-form-field>
        </div>
        
        <div class="row-form-container">
            <mat-form-field appearance="fill" class="input-form">
                <mat-label>Nickname</mat-label>
                <input 
                    matInput
                    type="text" 
                    formControlName="nickName"
                    placeholder="Inserire il nickname">
                    <mat-error *ngIf="registaReactive.get('nickName')?.hasError('required')">Nickname obbligatorio</mat-error>
                    <mat-error *ngIf="registaReactive.get('nickName')?.hasError('minlength')">Il nickname deve avere almeno 4 caratteri</mat-error>
              </mat-form-field>
        
              <mat-form-field appearance="fill" class="input-form">
                <mat-label>Data di Nascita</mat-label>
                <input 
                    matInput
                    name="dataDiNascita"                                                                                                                                              
                    [matDatepicker]="picker"
                    (dateChange)="dateChangeHandler($event.value)"
                    formControlName="dataDiNascita">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="registaReactive.get('dataDiNascitaPicker')?.hasError('required')">Data di nascita obbligatoria</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="input-form">
                <mat-label>Sesso</mat-label>
                <mat-select
                    name="sesso"
                    formControlName="sesso">
                  <mat-option value="">Selezionare</mat-option>
                  <mat-option value="MASCHIO">MASCHIO</mat-option>
                  <mat-option value="FEMMINA">FEMMINA</mat-option>
                </mat-select>
                <mat-error *ngIf="registaReactive.get('sesso')?.hasError('required')">Sesso obbligatorio</mat-error>
              </mat-form-field>
        </div>

            
        <div style="display:flex; justify-content:space-between">
            <button routerLink="/regista/list" mat-raised-button color="primary">Lista Registi</button>
            <button [disabled]="registaReactive.invalid" type="submit" mat-raised-button color="primary">Conferma</button>
        </div>

    </form>

</div>