<div class="contenitore">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Benvenuto alla Raccolta Film</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Using a series of utilities, you can create this jumbotron, just like the one
        in previous versions of Bootstrap.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/regista/list">Vai a Lista Registi</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="contenitore">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ricerca Registi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/regista/list">Vai alla funzionalità</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" *isAdmin="authService.getUserRole()">
    <mat-card-header>
      <mat-card-title>Inserisci Nuovo Regista</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/regista/create">Vai alla funzionalità</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Lista Film</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/film/list">Vai alla funzionalità</button>
    </mat-card-actions>
  </mat-card>
</div>


