<div class="contenitore">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Benvenuto alla Raccolta Film</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Using a series of utilities, you can create this jumbotron, just like the one
        in previous versions of Bootstrap.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/regista/list">Vai a Lista Registi</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="contenitore">
  <app-ui-card [cardBody]="'body card Registi'" [cardLink]="'/regista/list'" [cardTitle]="'Ricerca Registi'"></app-ui-card>
  <app-ui-card [cardBody]="'body card Nuovo Regista'" [cardLink]="'/regista/create'" [cardTitle]="'Inserisci Nuovo Regista'"></app-ui-card>
  <app-ui-card [cardBody]="'body card Film'" [cardLink]="'/film/list'" [cardTitle]="'Lista Film'"></app-ui-card>
</div>


